# top-most EditorConfig file
root = true

# All PHP files MUST use the Unix LF (linefeed) line ending.
[*]
charset = utf-8
end_of_line = lf

# All PHP files MUST end with a single blank line.
insert_final_newline = true

# There MUST NOT be trailing whitespace at the end of non-blank lines.
trim_trailing_whitespace = true

# PHP-Files
[*.php]
# Code MUST use an indent of 4 spaces, and MUST NOT use tabs for indenting.
indent_style = space
indent_size = 4

# HTML-Files LESS-Files SASS-Files CSS-Files JS-Files JSON-Files
[{*.html,*.less,*.sass,*.css,*.js,*.json,*.scss}]
indent_style = space
indent_size = 2

# MD-Files
[*.md]
indent_style = space
indent_size = 2

# composer.json or .package.json
[{composer.json,package.json}]
indent_style = space
indent_size = 2